<!--<h3>ProdottiList</h3>-->

<div class="row row row g-4">
    @foreach (var p in prodotti)
    {
        // <div>@p.Nome</div>
        <ProdottoPreview prodotto="@p"></ProdottoPreview>
    }
</div>



@code {
    List<ProdottoModel> prodotti = [
        new ProdottoModel{Id=1, Nome="Ciabatte"},
        new ProdottoModel{Id=2, Nome="Bicicletta"}
    ];
}
